main {
  width: 84vw;
}

main>h2 {
  color: red;
}

.searchBlock {
  display: flex;
  justify-content: space-between;

  input {
    width: 78%;
    position: relative;
  }

  span {
    position: relative;
    right: 36px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    i {
      font-size: 24px;
    }
  }

  button {
    width: 20%;
  }
}
