/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//HOMEWORK1 - start
// * {
//   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// }

// body {
//   width: 100vw;
//   height: 100vh;
// }
//HOMEWORK1 - end
//HOMEWORK2 - start
// body {
//   font-family: sans-serif;
//   width: 100vw;
//   height: 100vh;
//   margin: 0;
//   padding: 50px 100px;
//   display: flex;
//   justify-content: space-between;
// }
//HOMEWORK2 - end

//HOMEWORK3 - start
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0 15vw;
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
}

//HOMEWORK3 - end
